$d-shorter: 50ms;
$d-short: 100ms;
$d-standard: 200ms;
$d-long: 500ms;
$d-longer: 800ms;
$d-longest: 1500ms;

$b-xxl: 1400px;
$b-xl: 1200px;
$b-lg: 992px;
$b-md: 768px;
$b-sm: 576px;
$b-xs: 368px;
$gutter: 15px;

$z-sticky: 100;
$z-modal-b: 110;
$z-modal: 120;

$ease-in-out: cubic-bezier(.49,-0.01,.63,.99);
$ease-in-out-2: cubic-bezier(.46,0,.55,.99);

$shw1: 0px 4px 8px rgba(0, 0, 0, 0.25);